@charset "utf-8";

.portfolio-wrap {
	padding: 0 60px 150px;
}
.nav li.active {
  color: #F00;
}
.portfolios {
  li {
    width: calc((100% - (30px * 2)) / 3);
    img {
      width: 100%;
    }
  }
}