<section class="service-wrap">
  <div class="tab-interface">
    <!-- 탭 인덱스 -->
    <ul class="tab-list" role="tablist">
      <li id="tab1" role="tab" aria-controls="section1" aria-selected="true" tabindex="0">Music</li>
      <li id="tab2" role="tab" aria-controls="section2" aria-selected="false" tabindex="0">Concert</li>
      <li id="tab3" role="tab" aria-controls="section3" aria-selected="false" tabindex="0">Advertisement</li>
    </ul>
    <!-- 탭 콘텐츠 -->
    <div class="tab-contents">
      <section id="section1" role="tabpanel" aria-labelledby="tab1">
        <h2>Music</h2>
        <p>
          Three years after the release of their critically acclaimed debut album “Grain”, Belgium-based Billions of Comrades are back with a new album: Rondate, including Moak, one of the seven new tracks that show the band as rougher, yet more mature and experimented.
          Video recorded at: MJ Antistatic, Tubize
        </p>
      </section>
      <section id="section2" class="unvisual" role="tabpanel" aria-labelledby="tab2">
        <h2>Concert</h2>
        <p>
          Three years after the release of their critically acclaimed debut album “Grain”, Belgium-based Billions of Comrades are back with a new album: Rondate, including Moak, one of the seven new tracks that show the band as rougher, yet more mature and experimented.
          Video recorded at: MJ Antistatic, Tubize
        </p>
      </section>
      <section id="section3" class="unvisual" role="tabpanel" aria-labelledby="tab3">
        <h2>Advertisement</h2>
        <p>
          Three years after the release of their critically acclaimed debut album “Grain”, Belgium-based Billions of Comrades are back with a new album: Rondate, including Moak, one of the seven new tracks that show the band as rougher, yet more mature and experimented.
          Video recorded at: MJ Antistatic, Tubize
        </p>
      </section>
    </div>
  </div>
</section>