<section class="portfolio-wrap">
  <div class="button-group filters-button-group">
    <!-- Music  /  Concert  /  광고  /  교재[어학] -->
    <span>SHOW BY :</span>
    <button class="button is-checked" data-filter="*">All</button>
    <button class="button" data-filter=".music">Music</button>
    <button class="button" data-filter=".concert">Concert</button>
    <button class="button" data-filter=".ad">Advertisement</button>
  </div>
  <isotope-grid [options]="myOptions" class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <isotope-item *ngFor="let item of items" class="grid-item {{item.subject}}" [class.scroll]="item.isScroll">
      <img src="{{item.img}}" alt="{{item.alt}}">
      <div class="subject-bg">
        <p>{{item.desc}}</p>
      </div>
    </isotope-item>
  </isotope-grid>
</section>
<div class="layer-bg" id="layer" aria-hidden="true" role="dialog" aria-labelledby="dialogTitle">
  <div class="layer_area">
    <div class="img"></div>
    <div class="info-wrap">
      <p class="info-date">
        <time>2019.04.07</time>
      </p>
      <p class="info-title">삼성 갤럭시 S7 유연석, 이광수, 조윤우 편</p>
      <p class="info-producing">Performed by <b>COVEO</b>, Written by <b>Connell McCarthy</b>, Produced by
        <b>COVEO</b></p>
      <p class="info-copyright">&copy; 2018 COVEO Music</p>
      <ul>
        <li>On
          <a href="" class="youtube-link">YouTube</a>
        </li>
      </ul>
    </div>
    <button id="layer-close" class="layer-close icon-cancel"></button>
  </div>
</div>