<section class="portfolio-wrap">
  <div class="button-group filters-button-group">
    <!-- Music  /  Concert  /  광고  /  교재[어학] -->
    <span>SHOW BY :</span>
    <button class="button is-checked" data-filter="*">All</button>
    <button class="button" data-filter=".music">Music</button>
    <button class="button" data-filter=".concert">Concert</button>
    <button class="button" data-filter=".ad">Advertisement</button>
  </div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item music">
      <img src="assets/images/portfolio/music-cover-1.jpg" alt="BTS Love Yourself Her 5th album">
      <div class="subject-bg">
        <p>BTS Love Yourself Her 5th album</p>
      </div>
    </div>
    <div class="grid-item music">
      <img src="assets/images/portfolio/music-cover-2.jpg" alt="COME BACK HOME 앨범">
      <div class="subject-bg">
        <p>COME BACK HOME 앨범</p>
      </div>
    </div>
    <div class="grid-item music">
      <img src="assets/images/portfolio/music-cover-3.jpg" alt="FACE YOURSELF 앨범">
      <div class="subject-bg">
        <p>FACE YOURSELF 앨범</p>
      </div>
    </div>
    <div class="grid-item music">
      <img src="assets/images/portfolio/music-cover-4.png" alt="불후의명곡 커버">
      <div class="subject-bg">
        <p>불후의명곡 커버</p>
      </div>
    </div>
    <div class="grid-item music">
      <img src="assets/images/portfolio/music-cover-5.jpg" alt="HOPEWORLD 커버">
      <div class="subject-bg">
        <p>HOPEWORLD 커버</p>
      </div>
    </div>
    <div class="grid-item music">
      <img src="assets/images/portfolio/music-cover-6.jpg" alt="LoveYourself 'Tear' 커버">
      <div class="subject-bg">
        <p>LoveYourself 'Tear' 커버</p>
      </div>
    </div>
    <div class="grid-item music">
      <img src="assets/images/portfolio/music-cover-7.jpg" alt="다음이 있을까 앨범">
      <div class="subject-bg">
        <p>다음이 있을까 앨범</p>
      </div>
    </div>
    <div class="grid-item music">
      <img src="assets/images/portfolio/music-cover-8.jpg" alt="입술자국 앨범">
      <div class="subject-bg">
        <p>입술자국 앨범</p>
      </div>
    </div>
    <div class="grid-item concert">
      <img src="assets/images/portfolio/concert-cover-1.jpg" alt="MMA 2017">
      <div class="subject-bg">
        <p>MMA 2017</p>
      </div>
    </div>
    <div class="grid-item concert">
      <img src="assets/images/portfolio/concert-cover-2.jpg" alt="2017 BTS HOME PARTY cover">
      <div class="subject-bg">
        <p>2017 BTS HOME PARTY cover</p>
      </div>
    </div>
    <div class="grid-item concert">
      <img src="assets/images/portfolio/concert-cover-3.jpg" alt="2017 BTS LIVE WINGS TOUR cover">
      <div class="subject-bg">
        <p>2017 BTS LIVE WINGS TOUR cover</p>
      </div>
    </div>
    <div class="grid-item concert">
      <img src="assets/images/portfolio/concert-cover-4.jpg" alt="2017 골든디스크">
      <div class="subject-bg">
        <p>2017 골든디스크</p>
      </div>
    </div>
    <div class="grid-item concert">
      <img src="assets/images/portfolio/concert-cover-5.jpg" alt="BTS 4TH MUSTER cover">
      <div class="subject-bg">
        <p>BTS 4TH MUSTER cover</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/V0ZwH6MYc6Q/maxresdefault.jpg" alt="삼성 갤럭시 S7 유연석, 이광수, 조윤우 편">
      <div class="subject-bg">
        <p>삼성 갤럭시 S7 유연석, 이광수, 조윤우 편</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/gqGAf2EaIBs/maxresdefault.jpg" alt="삼성 투모로우 솔루션 지우편 ">
      <div class="subject-bg">
        <p>삼성 투모로우 솔루션 지우편 </p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/RWMpdlGRXcA/maxresdefault.jpg" alt="피자헛 유민상편 ">
      <div class="subject-bg">
        <p>피자헛 유민상편 </p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/izLMZeGC30A/maxresdefault.jpg" alt="유성은 질투 MV도입부">
      <div class="subject-bg">
        <p>유성은 질투 MV도입부</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/628_eqUL6GI/maxresdefault.jpg" alt="정관장 황진단">
      <div class="subject-bg">
        <p>정관장 황진단</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/lGjDAbrs4uo/maxresdefault.jpg" alt="질레트 류준열편">
      <div class="subject-bg">
        <p>질레트 류준열편</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/ZSHcOIWZm7k/maxresdefault.jpg" alt="티볼리 에어 TVC, RCM">
      <div class="subject-bg">
        <p>티볼리 에어 TVC, RCM</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/JjW65KyA9CQ/maxresdefault.jpg" alt="판시딜 카운셀러편">
      <div class="subject-bg">
        <p>판시딜 카운셀러편</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/IlK_l92b2wI/maxresdefault.jpg" alt="IBK기업은행 희망음악회편 시장">
      <div class="subject-bg">
        <p>IBK기업은행 희망음악회편 시장</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/8Wn9bHn-wnw/maxresdefault.jpg" alt="IBK기업은행 희망음악회편 지하철">
      <div class="subject-bg">
        <p>IBK기업은행 희망음악회편 지하철</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/E3BGVL7U4dg/maxresdefault.jpg" alt="르꼬끄 골프 이보미편">
      <div class="subject-bg">
        <p>르꼬끄 골프 이보미편</p>
      </div>
    </div>
    <div class="grid-item ad">
      <img src="https://img.youtube.com/vi/Exh3MOaOu14/maxresdefault.jpg" alt="토니모리 안정환, 김성주편">
      <div class="subject-bg">
        <p>토니모리 안정환, 김성주편</p>
      </div>
    </div>
  </div>
</section>
<div class="layer-bg" id="layer" aria-hidden="true" role="dialog" aria-labelledby="dialogTitle">
  <div class="layer_area">
    <div class="img"></div>
    <div class="info-wrap">
      <p class="info-date">
        <time>2019.04.07</time>
      </p>
      <p class="info-title">삼성 갤럭시 S7 유연석, 이광수, 조윤우 편</p>
      <p class="info-producing">Performed by <b>COVEO</b>, Written by <b>Connell McCarthy</b>, Produced by
        <b>COVEO</b></p>
      <p class="info-copyright">&copy; 2018 COVEO Music</p>
      <ul>
        <li>On
          <a href="" class="youtube-link">YouTube</a>
        </li>
      </ul>
    </div>
    <button id="layer-close" class="layer-close icon-cancel"></button>
  </div>
</div>