<div class="wrapper">
  <header class="header">
    <h1 class="logo">
      <a href="/home" class="transition">
        <div class="img-wrap">
          <img src="/assets/images/common/logo.jpg" alt="penguin's studio" title="팽귄 스튜디오">
        </div>
        <div class="logo-title">penguin's studio</div>
      </a>
    </h1>
    <a class="menu-btn icon-menu"></a>
    <nav class="navigation">
      <h2 class="readable-hidden">메인메뉴</h2>
      <ul class="menu">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/portfolio">portfolio</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/service">service</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/contactus">contact us</a>
        </li>
      </ul>
      <a href="javascript:void(0);" class="menu-close-btn icon-cancel"></a>
    </nav>
    <div class="menu-open-bg"></div>
  </header>
  <div class="contents-wrap">
    <div class="contents">
      <section class="title-wraper">
        <article class="title-head">
          <div class="title-wrap">
            <h2>{{selectedMenu}}</h2>
            <p>penguin's studio</p>
          </div>
          <div class="title-bg"></div>
        </article>
      </section>

      <router-outlet></router-outlet>

    </div>
    <footer class="footer">
      <small class="copyright">ⓒ 2019. <a href="/contactus/login">penguin</a>'s studio. all rights reserved</small>
    </footer>
  </div>
</div>
