@charset "utf-8";
@import "../output-scss/common";

// :host {
//   display: flex;
//   overflow: hidden;
//   height: 100vh;
//   app-nav-bar {
//     position: absolute;
//     width: 100%;
//     z-index: 1;
//   }
//   main {
//     flex: 1;
//     position: relative;
//   }
//   ::ng-deep router-outlet ~ * {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//   }
// }
@include only-mobile {
  .wrapper {
    position: relative;
  }
  .contents-wrap {
    padding-top: 50px;
  }
}
@include mobile-width {
  .contents-wrap {
    margin-left: 150px;
  }
  .contents {
    min-height: calc(100vh - 85px);
  }
}